body{
    font-family: Arial;
    text-align:center;
}

#products{
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}

.product{
    border:1px solid #ccc;
    padding:15px;
    margin:10px;
    width:200px;
}

.product img{
    width:100%;
}